*.iml
.gradle
local.properties
.idea
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
*.iml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
node_modules
*.g.kt
*.g.json
phrasey-dist
app/src/main/assets/i18n
dist
secrets
