[submodule "libs/symphony-taglib-sys/vendor/taglib"]
	path = libs/symphony-taglib-sys/vendor/taglib
	url = https://github.com/taglib/taglib.git

[submodule "libs/symphony-taglib-sys/vendor/utfcpp"]
	path = libs/symphony-taglib-sys/vendor/utfcpp
	url = https://github.com/nemtrif/utfcpp.git

[submodule "libs/symphony-taglib-sys/vendor/zlib"]
	path = libs/symphony-taglib-sys/vendor/zlib
	url = https://github.com/madler/zlib.git
