*.iml
.gradle
local.properties
.idea/*
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/dictionaries
*.iml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
node_modules
*.g.kt
*.g.json
phrasey-dist
app/src/main/assets/i18n
dist
secrets